// All styles
.admin-wrapper a {
  text-decoration: none;
  color: #000;
}

// Header stuff
.admin-header-wrapper {
  background-color: #DEE0E2;
  height: 40px;
  text-align: right;
  font-size: 16px;
  width: 100%;
}

.admin-header-content {
  margin: auto;
  width: 100%;
  max-width: 1020px;
}

.admin-header-content li {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 10px;
  border-right: 1px solid #999;
}

.admin-header-content li:last-child {
  border-right: none;
}

// Wrapper stuff
.admin-wrapper {
  position:relative;
  clear:both;
  float:left;
  width:100%;
  overflow:hidden;
  background-color: #F8F8F8;
}

.admin-wrapper .admin-column-wrapper {
  float:left;
  width:200%;
  position:relative;
  left: 20%;
  background:#fff;
  border-left: 2px solid #999;
}

.admin-wrapper .admin-content-wrapper {
  float:right;
  width:50%;
  position:relative;
  padding-bottom:1em;

}

.admin-wrapper .admin-content {
  margin-left: 50px;
  position:relative;
  right:100%;
  overflow:hidden;
}
.admin-wrapper .admin-sidebar-wrapper {
  float:left;
  width: 10%;
  position:relative;
  right: 10%;
}

// Sidebar stuff
.admin-sidebar-content {
  padding: 10px 0;
}

.admin-sidebar-content li {
  margin: 10px 0;
}

.admin-sidebar-content li a {
  display: block;
  padding: 10px 0 10px 30px;
}

.admin-sidebar-content li.active a {
  background-color: #30A197;
  color: #fff;
}

.admin-sidebar-content {
  padding: 20px 0;
}

// Submenu stuff
.admin-submenu-container h1 {
  margin-bottom :10px;
}

.admin-submenu ul {
  border-bottom: 1px solid #999;
  margin-bottom: 50px;
}

.admin-submenu li {
  display: inline-block;
  padding: 20px 10px;
}

.admin-submenu li:first-child {
  padding-left: 0;
}

.admin-submenu li.active {
  -webkit-box-shadow: inset 0px -3px 0px 0px #30a197;
  -moz-box-shadow: inset 0px -3px 0px 0px #30a197;
  box-shadow: inset 0px -3px 0px 0px #30a197;
}

.admin-submenu a {
  font-size: 16px;
}