// To-do pattern
ul.todo > li {
  margin: 10px 0;
  padding: 20px 15px;
  border-left: 5px solid $black;
  border-bottom: 1px solid $border-colour;
  background-color: $highlight-colour;
  box-sizing: border-box;
  display: block;
}
ul.todo > li:hover {
  background-color: $panel-colour;
}
ul.todo > li > a {
  text-decoration: none;
}
ul.todo > li > a:hover {
  text-decoration: underline;
}
ul.todo > li ul.todo-tagged li {
  @include core-16;
  margin: 0 5px 5px 0;
  padding: 0.5rem;
  color: $secondary-text-colour;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}
ul.todo > li ul.todo-tagged li.todo-assigned {
  background: $secondary-text-colour;
  color: $highlight-colour;
}
ul.todo > li a span {
  @include core-16;
  color: $secondary-text-colour;
  float: right;
  padding: 0;
  text-decoration: none;
  text-align: left;
  cursor: default;

  @include media (mobile) {
    float: none;
    display: block;
  }
}
ul.todo > li.overdue {
  border-left: 5px solid $error-colour;

  a span {
    color: $error-colour;
  }
}
