@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Bold.ttf");
  font-weight: bold;
}
