.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

ul.todo li {
  margin: 10px 0;
  padding: 20px 15px;
  border-left: 5px solid #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
  background-color: #f8f8f8;
  box-sizing: border-box;
  display: block;
}

ul.todo li:hover {
  background-color: #ebebeb;
}

.alert-default {
  border-color: #2b8cc4;
  background-color: #eaf4f9;
}

.alert-warning {
  border-color: #b10e1e;
  background-color: #fceaeb;
}

.alert-success {
  border-color: #28a197;
  background-color: #eaf6f5;
}

.notice.long .icon {
  margin-top: 0;
  top: 0px;
}

.padding-small {
  padding-left: 10px;
  padding-right: 10px;
}

.m-b-s {
  margin-bottom: 12px !important;
}

@media (min-width: 641px) {
  .m-b-s {
    margin-bottom: 15px !important;
  }
}
