.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

ul.todo li {
  margin: 10px 0;
  padding: 20px 15px;
  border-left: 5px solid #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
  background-color: #f8f8f8;
  box-sizing: border-box;
  display: block;
}

ul.todo li:hover {
  background-color: #ebebeb;
}
