{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">

    <h1 class="heading-xlarge">Tabbed content</h1>

    <div class="grid-row">
      <div class="tab-panel">
        <div class="tab-panel-menu">
          <a href="#" class="tab-link">Link 1</a>
          <a href="#" class="tab-link">Link 2</a>
        </div>

        <div class="tab-panes">
          <div class="tab-pane">
            <pre class="language-markup">
              <code>
                  &lt;header role="banner" id="global-header" class="with-proposition"&gt;
                    &lt;div class="header-wrapper"&gt;
                      &lt;div class="header-global"&gt;
                        &lt;div class="header-logo"&gt;
                          &lt;a href="/" title="Go to the homepage" id="logo" class="content"&gt;
                            &lt;img src="/public/stylesheets/images/gov.uk_logotype_crown.png" alt=""&gt;
                          &lt;/a&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;

                      &lt;div class="header-proposition"&gt;
                        &lt;div class="content"&gt;
                          &lt;nav id="proposition-menu" class="header__menu" role="navigation"&gt;
                            &lt;a href="/" id="proposition-name"&gt;Title of the service&lt;/a&gt;
                          &lt;/nav&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/header&gt;
              </code>
            </pre>
          </div>

          <div class="tab-pane">
            This is pane 2
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
