@import 'prism';
@import 'tabbing';
@import 'example-box';

.constrain {
  max-width: 960px;
  margin: 0 auto;
}

// fudge additional to the gov.uk grid system (sigh)
.column-one-whole {
  box-sizing: border-box;
  padding: 0 15px;
  clear: both;
  @extend %contain-floats;
}

.pattern-overview {
  $this-colour: $panel-colour;
  @extend %contain-floats; // yuck
  border-bottom: 1px solid $border-colour;
  background: $this-colour;
  &__title {
    margin: 0 0 15px 0;
    &__label {
      @include core-19;
    }
  }
}

.pattern {
  padding: 30px 20px;
  background: #fff;
  &:not(:last-of-type) {
    border-bottom: 1px solid $panel-colour;
  }
  &__title {
    margin: 0 0 20px 0;
  }
  &__header,
  &__body {
    margin-bottom: 20px;
  }
}

.content {
  &--full {
    max-width: 100%!important;
    margin: 0!important;
    padding: 0!important;
  }
}