{% extends "layout_dwp.html" %}

{% block page_title %}
  Add items to a list - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Add items to a list</h1>

        <h2 class="heading-medium">Standard pattern</h2>
        <p class="text">
          Use this when:
          <ul class="list list-bullet">
            <li>the user needs to enter a list of things (eg medical conditions or names of people)</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="example">
      <form>
        <div class="grid-row">
          <div class="form-group-compound list-item-wrapper">
            <h2 class="heading-medium">Item 1</h2>

            <fieldset>
              <div class="column-one-third no-padding">
                <div class="form-group list-item">
                  <label class="form-label" for="field-1">
                    Field label
                  </label>
                  <input type="text" class="form-control" id="field-1" name="field-1">
                </div>
              </div>

              <div class="column-one-third no-padding">
                <div class="form-group list-item">
                  <label class="form-label" for="field-2">
                    Field label
                  </label>
                  <input type="text" class="form-control" id="field-2" name="field-2">
                </div>
              </div>

              <div class="column-one-third no-padding">
                <div class="list-item">
                </div>
              </div>
            </fieldset>

            <hr />
          </div>
        </div>

        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="form-group">
              <button id="add-button" class="button button-add-another">Add another</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <details>
      <summary><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow">
        <div class="tab-panel">
          <div class="tab-panel-menu">
            <a href="#" class="tab-link">HTML</a>
            <a href="#" class="tab-link">SCSS</a>
            <a href="#" class="tab-link">CSS</a>
            <a href="#" class="tab-link">JS</a>
          </div>

          <div class="tab-panes">
            <div class="tab-pane">
              <pre class="language-markup">
                <code>
    &lt;form&gt;
      &lt;div class="grid-row"&gt;
        &lt;div class="form-group-compound list-item-wrapper"&gt;
          &lt;h2 class="heading-medium"&gt;Item 1&lt;/h2&gt;

          &lt;fieldset&gt;
            &lt;div class="column-one-third no-padding"&gt;
              &lt;div class="form-group list-item"&gt;
                &lt;label class="form-label" for="field-1"&gt;
                  Field label
                &lt;/label&gt;
                &lt;input type="text" class="form-control" id="field-1" name="field-1"&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="column-one-third no-padding"&gt;
              &lt;div class="form-group list-item"&gt;
                &lt;label class="form-label" for="field-2"&gt;
                  Field label
                &lt;/label&gt;
                &lt;input type="text" class="form-control" id="field-2" name="field-2"&gt;
              &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="column-one-third no-padding"&gt;
              &lt;div class="list-item"&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;

          &lt;hr /&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="grid-row"&gt;
        &lt;div class="column-two-thirds"&gt;
          &lt;div class="form-group"&gt;
            &lt;button id="add-button" class="button button-add-another"&gt;Add another&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/form&gt;
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .no-padding {
      padding-left: 0;
      padding-right: 0;

      @media (max-width: 640px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .remove-list-item {
      display: inline-block;
      margin-top: 1.6em;
    }

    .list-item-wrapper {
      padding-left: 20px;
      padding-right: 20px;

      .heading-small,
      .heading-medium,
      .heading-large,
      .heading-xlarge {
        margin-top: 0;
      }

      .column-one-third {
        .list-item {
          width: 100%;
        }

        input {
          width: 90%;

          @media (max-width: 640px) {
            width: 100%;
          }
        }
      }
    }

    .button-add-another {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;

      &:hover {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }

      &:focus {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }

      @media (max-width: 640px) {
        width: 90%;
        margin: auto;
        display: block;
      }
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .remove-list-item {
      display: inline-block;
      margin-top: 1.6em;
    }

    .list-item-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .list-item-wrapper .heading-small,
    .list-item-wrapper .heading-medium,
    .list-item-wrapper .heading-large,
    .list-item-wrapper .heading-xlarge {
      margin-top: 0;
    }

    .list-item-wrapper .column-one-third .list-item {
      width: 100%;
    }

    .list-item-wrapper .column-one-third input {
      width: 90%;
    }

    .button-add-another {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper .column-one-third input {
        width: 100%;
      }

      .no-padding {
        padding-left: 20px;
        padding-right: 20px;
      }

      .button-add-another {
        width: 90%;
        margin: auto;
        display: block;
      }
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-javascript">
                <code>
    $(document).on('click', '.button-add-another', function (e) {
      var beforeThis = $(this).parents('.grid-row');
      e.preventDefault();
      insertFields(beforeThis);
      sortFields();
    });

    $(document).on('click', '.remove-list-item', function (e) {
      e.preventDefault();
      $(this).parents('.list-item-wrapper').remove();
      sortFields();
    });

    function insertFields(element) {
      element.before(
        '&lt;div class="grid-row"&gt;' +
          '&lt;div class="form-group-compound list-item-wrapper"&gt;' +
            '&lt;h2 class="heading-medium"&gt;Item 1&lt;/h2&gt;' +
            '&lt;fieldset&gt;' +
              '&lt;div class="column-one-third no-padding"&gt;' +
                '&lt;div class="form-group list-item"&gt;' +
                  '&lt;label class="form-label" for="field-x"&gt;' +
                    'Field label' +
                  '&lt;/label&gt;' +
                  '&lt;input type="text" class="form-control" id="field-x" name="field-x"&gt;' +
                '&lt;/div&gt;' +
              '&lt;/div&gt;' +
              '&lt;div class="column-one-third no-padding"&gt;' +
                '&lt;div class="form-group list-item"&gt;' +
                  '&lt;label class="form-label" for="field-x"&gt;' +
                    'Field label' +
                  '&lt;/label&gt;' +
                  '&lt;input type="text" class="form-control" id="field-x" name="field-x"&gt;' +
                '&lt;/div&gt;' +
              '&lt;/div&gt;' +
              '&lt;div class="column-one-third no-padding"&gt;' +
                '&lt;div class="list-item"&gt;' +
                '&lt;/div&gt;' +
              '&lt;/div&gt;' +
            '&lt;/fieldset&gt;' +
            '&lt;hr /&gt;' +
          '&lt;/div&gt;' +
        '&lt;/div&gt;'
      );
    }

    function sortFields() {
      var listCounter = 1;
      var inputCounter = 1;

      $(document).find('.list-item-wrapper').each(function () {
        $(this).find('h2').text('Item ' + listCounter);

        if ($(this).find('.remove-list-item').length === 0) {
          $(this).find('.list-item:last').append('&lt;a id="remove-item-' + listCounter + '" class="remove-list-item" href="#"&gt;Remove this&lt;/a&gt;');
        } else {
          $(this).find('.remove-list-item').attr('id', 'remove-item-' + listCounter);
        }

        $(this).find('.list-item').children('label').each(function () {
          $(this).attr('for', 'field-' + inputCounter);
          inputCounter++;
        });

        $(this).find('.list-item').children('input').each(function () {
          var labelNo = $(this).parent().find('label').attr('for').split('-').pop();
          $(this).attr('id', 'field-' + labelNo);
          $(this).attr('name', 'field-' + labelNo);
        });

        listCounter++;
      });

      if ($(document).find('.list-item-wrapper').length === 1) {
        $('.remove-list-item').remove();
      }
    }

                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </details>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Alternative pattern</h2>

        <p class="text">
          Use this when:
          <ul class="list list-bullet">
            <li>the number of fields won’t fit on the page using the standard horizontal pattern</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="example">
      <div class="list-item-wrapper-vertical">
        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="form-group-compound">
              <h2 class="heading-medium">Item 1</h2>

              <div class="form-group">
                <label class="form-label" for="field-1">
                  Field label
                </label>

                <input type="text" class="form-control" id="field-1" name="field-1">
              </div>

              <div class="form-group">
                <label class="form-label" for="field-2">
                  Field label
                </label>

                <input type="text" class="form-control" id="field-2" name="field-2">
              </div>

              <div class="form-group">
                <label class="form-label" for="field-3">
                  Field label
                </label>

                <input type="text" class="form-control" id="field-3" name="field-3">
              </div>
            </div>
          </div>

          <div class="column-one-third">
          </div>
        </div>

        <hr />

        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="form-group">
              <button id="add-button" class="button button-add-another-vertical">Add another</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <details>
      <summary><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow">
        <div class="tab-panel">
          <div class="tab-panel-menu">
            <a href="#" class="tab-link">HTML</a>
            <a href="#" class="tab-link">SCSS</a>
            <a href="#" class="tab-link">CSS</a>
            <a href="#" class="tab-link">JS</a>
          </div>

          <div class="tab-panes">
            <div class="tab-pane">
              <pre class="language-markup">
                <code>
    &lt;div class="list-item-wrapper-vertical"&gt;
      &lt;div class="grid-row"&gt;
        &lt;div class="column-two-thirds"&gt;
          &lt;div class="form-group-compound"&gt;
            &lt;h2 class="heading-medium"&gt;Item 1&lt;/h2&gt;

            &lt;div class="form-group"&gt;
              &lt;label class="form-label" for="field-1"&gt;
                Field label
              &lt;/label&gt;

              &lt;input type="text" class="form-control" id="field-1" name="field-1"&gt;
            &lt;/div&gt;

            &lt;div class="form-group"&gt;
              &lt;label class="form-label" for="field-2"&gt;
                Field label
              &lt;/label&gt;

              &lt;input type="text" class="form-control" id="field-2" name="field-2"&gt;
            &lt;/div&gt;

            &lt;div class="form-group"&gt;
              &lt;label class="form-label" for="field-3"&gt;
                Field label
              &lt;/label&gt;

              &lt;input type="text" class="form-control" id="field-3" name="field-3"&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="column-one-third"&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;hr /&gt;

      &lt;div class="grid-row"&gt;
        &lt;div class="column-two-thirds"&gt;
          &lt;div class="form-group"&gt;
            &lt;button id="add-button" class="button button-add-another-vertical"&gt;Add another&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .list-item-wrapper-vertical {
      padding-left: 20px;
      padding-right: 20px;

      input {
        width: 80%;

        @media (max-width: 640px) {
          width: 100%;
        }
      }

      .remove-list-item-vertical {
        margin-top: 4.4em;
        display: block;
      }

      .heading-medium {
        margin-top: 0;
      }
    }

    .button-add-another-vertical {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;

      &:hover {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }

      &:focus {
        background-color: #ccc;
        color: #000;
        box-shadow: 0 2px 0 #666;
      }

      @media (max-width: 640px) {
        width: 90%;
        margin: auto;
        display: block;
      }
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .list-item-wrapper-vertical {
      padding-left: 20px;
      padding-right: 20px;
    }

    .list-item-wrapper-vertical input {
      width: 80%;
    }

    .list-item-wrapper-vertical .remove-list-item-vertical {
      margin-top: 4.4em;
      display: block;
    }

    .list-item-wrapper-vertical .heading-medium {
      margin-top: 0;
    }

    .button-add-another-vertical {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper-vertical inpit {
        width: 100%;
      }

      .button-add-another-vertical {
        width: 90%;
        margin: auto;
        display: block;
      }
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-javascript">
                <code>
    $(document).on('click', '.button-add-another-vertical', function (e) {
      e.preventDefault();
      var beforeThis = $(this).parents('.list-item-wrapper-vertical').find('.grid-row').last();
      $(beforeThis).before(
        '&lt;div class="grid-row"&gt;' +
          '&lt;div class="column-two-thirds"&gt;' +
            '&lt;div class="form-group-compound"&gt;' +
              '&lt;h2 class="heading-medium"&gt;Item 1&lt;/h2&gt;' +
              '&lt;div class="form-group"&gt;' +
                '&lt;label class="form-label" for="field-1"&gt;' +
                  'Field label' +
                '&lt;/label&gt;' +
                '&lt;input type="text" class="form-control" id="field-1" name="field-1"&gt;' +
              '&lt;/div&gt;' +
              '&lt;div class="form-group"&gt;' +
                '&lt;label class="form-label" for="field-2"&gt;' +
                  'Field label' +
                '&lt;/label&gt;' +
                '&lt;input type="text" class="form-control" id="field-2" name="field-2"&gt;' +
              '&lt;/div&gt;' +
              '&lt;div class="form-group"&gt;' +
                '&lt;label class="form-label" for="field-3"&gt;' +
                  'Field label' +
                '&lt;/label&gt;' +
                '&lt;input type="text" class="form-control" id="field-3" name="field-3"&gt;' +
              '&lt;/div&gt;' +
            '&lt;/div&gt;' +
          '&lt;/div&gt;' +
          '&lt;div class="column-one-third"&gt;' +
          '&lt;/div&gt;' +
        '&lt;/div&gt;' +
        '&lt;hr /&gt;'
      );
      sortFieldsVertical();
    });

    function sortFieldsVertical() {
      var listCounter = 1;
      var inputCounter = 1;

      $(document).find('.list-item-wrapper-vertical .grid-row').each(function () {
        $(this).find('h2').text('Item ' + listCounter);

        if ($(this).find('.remove-list-item-vertical').length === 0) {
          $(this).find('.column-one-third:last').append('&lt;a id="remove-item-vertical-' + listCounter + '" class="remove-list-item-vertical" href="#">Remove this&lt;/a>');
        } else {
          $(this).find('.remove-list-item-vertical').attr('id', 'remove-item-vertical-' + listCounter);
        }

        $(this).find('label').each(function () {
          $(this).attr('for', 'field-' + inputCounter);
          inputCounter++;
        });

        $(this).find('input').each(function () {
          var labelNo = $(this).parent().find('label').attr('for').split('-').pop();
          $(this).attr('id', 'field-' + labelNo);
          $(this).attr('name', 'field-' + labelNo);
        });

        listCounter++;
      });

      if ($(document).find('.list-item-wrapper-vertical .grid-row').length === 2) {
        $('.remove-list-item-vertical').remove();
      }
    }

    $(document).on('click', '.remove-list-item-vertical', function (e) {
      e.preventDefault();
      $(this).parents('.grid-row').prev('hr').remove();
      $(this).parents('.grid-row').remove();
      sortFieldsVertical();
    });
                </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </details>
  </main>
{% endblock %}

{% block page_scripts %}
<script>
  $(document).on('click', '.button-add-another-vertical', function (e) {
    e.preventDefault();
    var beforeThis = $(this).parents('.list-item-wrapper-vertical').find('.grid-row').last();
    $(beforeThis).before(
      '<div class="grid-row">' +
        '<div class="column-two-thirds">' +
          '<div class="form-group-compound">' +
            '<h2 class="heading-medium">Item 1</h2>' +
            '<div class="form-group">' +
              '<label class="form-label" for="field-1">' +
                'Field label' +
              '</label>' +
              '<input type="text" class="form-control" id="field-1" name="field-1">' +
            '</div>' +
            '<div class="form-group">' +
              '<label class="form-label" for="field-2">' +
                'Field label' +
              '</label>' +
              '<input type="text" class="form-control" id="field-2" name="field-2">' +
            '</div>' +
            '<div class="form-group">' +
              '<label class="form-label" for="field-3">' +
                'Field label' +
              '</label>' +
              '<input type="text" class="form-control" id="field-3" name="field-3">' +
            '</div>' +
          '</div>' +
        '</div>' +
        '<div class="column-one-third">' +
        '</div>' +
      '</div>' +
      '<hr />'
    );
    sortFieldsVertical();
  });

  function sortFieldsVertical() {
    var listCounter = 1;
    var inputCounter = 1;

    $(document).find('.list-item-wrapper-vertical .grid-row').each(function () {
      $(this).find('h2').text('Item ' + listCounter);

      if ($(this).find('.remove-list-item-vertical').length === 0) {
        $(this).find('.column-one-third:last').append('<a id="remove-item-vertical-' + listCounter + '" class="remove-list-item-vertical" href="#">Remove this</a>');
      } else {
        $(this).find('.remove-list-item-vertical').attr('id', 'remove-item-vertical-' + listCounter);
      }

      $(this).find('label').each(function () {
        $(this).attr('for', 'field-' + inputCounter);
        inputCounter++;
      });

      $(this).find('input').each(function () {
        var labelNo = $(this).parent().find('label').attr('for').split('-').pop();
        $(this).attr('id', 'field-' + labelNo);
        $(this).attr('name', 'field-' + labelNo);
      });

      listCounter++;
    });

    if ($(document).find('.list-item-wrapper-vertical .grid-row').length === 2) {
      $('.remove-list-item-vertical').remove();
    }
  }

  $(document).on('click', '.remove-list-item-vertical', function (e) {
    e.preventDefault();
    $(this).parents('.grid-row').prev('hr').remove();
    $(this).parents('.grid-row').remove();
    sortFieldsVertical();
  });
</script>

<script>
  $(document).on('click', '.button-add-another', function (e) {
    var beforeThis = $(this).parents('.grid-row');
    e.preventDefault();
    insertFields(beforeThis);
    sortFields();
  });

  $(document).on('click', '.remove-list-item', function (e) {
    e.preventDefault();
    $(this).parents('.list-item-wrapper').remove();
    sortFields();
  });

  function insertFields(element) {
    element.before(
      '<div class="grid-row">' +
        '<div class="form-group-compound list-item-wrapper">' +
          '<h2 class="heading-medium">Item 1</h2>' +
          '<fieldset>' +
            '<div class="column-one-third no-padding">' +
              '<div class="form-group list-item">' +
                '<label class="form-label" for="field-x">' +
                  'Field label' +
                '</label>' +
                '<input type="text" class="form-control" id="field-x" name="field-x">' +
              '</div>' +
            '</div>' +
            '<div class="column-one-third no-padding">' +
              '<div class="form-group list-item">' +
                '<label class="form-label" for="field-x">' +
                  'Field label' +
                '</label>' +
                '<input type="text" class="form-control" id="field-x" name="field-x">' +
              '</div>' +
            '</div>' +
            '<div class="column-one-third no-padding">' +
              '<div class="list-item">' +
              '</div>' +
            '</div>' +
          '</fieldset>' +
          '<hr />' +
        '</div>' +
      '</div>'
    );
  }

  function sortFields() {
    var listCounter = 1;
    var inputCounter = 1;

    $(document).find('.list-item-wrapper').each(function () {
      $(this).find('h2').text('Item ' + listCounter);

      if ($(this).find('.remove-list-item').length === 0) {
        $(this).find('.list-item:last').append('<a id="remove-item-' + listCounter + '" class="remove-list-item" href="#">Remove this</a>');
      } else {
        $(this).find('.remove-list-item').attr('id', 'remove-item-' + listCounter);
      }

      $(this).find('.list-item').children('label').each(function () {
        $(this).attr('for', 'field-' + inputCounter);
        inputCounter++;
      });

      $(this).find('.list-item').children('input').each(function () {
        var labelNo = $(this).parent().find('label').attr('for').split('-').pop();
        $(this).attr('id', 'field-' + labelNo);
        $(this).attr('name', 'field-' + labelNo);
      });

      listCounter++;
    });

    if ($(document).find('.list-item-wrapper').length === 1) {
      $('.remove-list-item').remove();
    }
  }
  </script>
{% endblock %}
