{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Add items to a list</h1>

        <p class="text">
          This pattern is useful in the design of forms when you require the user
          to complete a list of things related to the service, for example medical
          conditions or names of people. The concept is that the user is not
          presented with too many empty fields to begin with and instead adds only
          as many as they need.
        </p>

        <hr />

        <h2 class="heading-medium">Standard version - horizontal</h2>
        <p class="text">
        This is how the first list item would appear. Note the grey colour of
        the button below.
        </p>
        <img src="/public/images/additemstolist1.png" alt="" width="1020" height="295" style="margin-left:-32px"; />
        <p class="text">
        Once the user clicks the 'add another' button a second set of text entry
        fields appears below, separated by a keyline. The 'add another' button
        moves below the new fields ready for the user to click it again.
        </p>
        <p class="text">
        Note that a 'remove' link also appears next to both of the items and this allows
        the user to quickly delete an entry if they need to. If there are only two
        items in the list, the 'remove' button will disappear once it is clicked
        the first time because the user should not be able to remove all items.
        </p>
        <img src="/public/images/additemstolist2.png" alt="" width="1024" height="515" style="margin-left:-32px" />

        <h2 class="heading-medium">Demo version</h2>
        <p class="text">
        Use the below 'live' version to see how it functions. We've limited the
        number of items you can add to 5 for the purposes of the demo.
        </p>
        <img src="/public/images/additemstolist1.png" alt="" width="1024" height="295" style="margin-left:-32px"; />

        <h2 class="heading-medium">Variant version - vertical fields</h2>
        <p class="text">
        Sometimes you may need to ask for more fields than will fit horizontally
        and so there's this variant with vertical fields which works in exactly
        the same way.
        </p>
        <img src="/public/images/additemstolist_variant.png" alt="" width="1024" height="905" style="margin-left:-32px"; />

        <h2 class="heading-medium">Code snippets</h2>
        <p class="text">
         See below for the code snippets for each version.
        </p>
        <p>
          <details>
            <summary><span class="summary">View code snippet</span></summary>
            <div class="panel panel-border-narrow">
              <div class="tab-panel">
                <div class="tab-panel-menu">
                  <a href="#" class="tab-link">HTML</a>
                  <a href="#" class="tab-link">CSS</a>
                </div>

                <div class="tab-panes">
                  <div class="tab-pane">
                    <pre class="language-markup">
                      <code>
                          &lt;footer id="footer"&gt;
                            &lt;div class="footer-wrapper"&gt;
                              &lt;div class="footer-meta"&gt;
                                &lt;div class="footer-meta-inner"&gt;
                                  &lt;ul class="platform-help-links"&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
                                  &lt;/ul&gt;

                                  &lt;p class="built-by-dwp"&gt;Built by DWP Digital&lt;/p&gt;

                                  &lt;div class="open-government-licence"&gt;
                                    &lt;p class="logo"&gt;&lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence&lt;/a&gt;&lt;/p&gt;
                                      &lt;p&gt;All content is available under the &lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence v3.0&lt;/a&gt;, except where otherwise stated&lt;/p&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class="copyright"&gt;
                                  &lt;a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank"&gt;© Crown Copyright&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/footer&gt;
                      </code>
                    </pre>
                  </div>

                  <div class="tab-pane">
                    <pre class="language-css">
                      <code>
                        CSS
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

            </div>
          </details>
        </p>

        </p>
      </div>
    </div>
  </main>
{% endblock %}
