{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Admin menus</h1>

        <h2 class="heading-medium">Standard pattern</h2>
        <p class="text">
          Use this when:
          <ul class="list list-bullet">
            <li>the user needs access to several admin areas (the menu is left-aligned
              and displays the title of each admin area)</li>
            <li>the user needs access to generic action links, like ‘Log out’
              (these are displayed in the grey bar below the top black bar, with
              new links added to the right)</li>
          </ul>
        </p>


          <img src="/public/images/adminmenu1.png" alt="" width="800" height="531" style="margin-left:-32px"; />



        <h2 class="heading-small">Code snippets</h2>
        <p class="text">
         See below for the code snippets for this version.
        </p>
        <p>
          <details>
            <summary><span class="summary">View code snippets</span></summary>
            <div class="panel panel-border-narrow">
              <div class="tab-panel">
                <div class="tab-panel-menu">
                  <a href="#" class="tab-link">HTML</a>
                  <a href="#" class="tab-link">CSS</a>
                </div>

                <div class="tab-panes">
                  <div class="tab-pane">
                    <pre class="language-markup">
                      <code>
                          &lt;footer id="footer"&gt;
                            &lt;div class="footer-wrapper"&gt;
                              &lt;div class="footer-meta"&gt;
                                &lt;div class="footer-meta-inner"&gt;
                                  &lt;ul class="platform-help-links"&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
                                    &lt;li&gt;&lt;a href="#"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
                                  &lt;/ul&gt;

                                  &lt;p class="built-by-dwp"&gt;Built by DWP Digital&lt;/p&gt;

                                  &lt;div class="open-government-licence"&gt;
                                    &lt;p class="logo"&gt;&lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence&lt;/a&gt;&lt;/p&gt;
                                      &lt;p&gt;All content is available under the &lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence v3.0&lt;/a&gt;, except where otherwise stated&lt;/p&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class="copyright"&gt;
                                  &lt;a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank"&gt;© Crown Copyright&lt;/a&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/footer&gt;
                      </code>
                    </pre>
                  </div>

                  <div class="tab-pane">
                    <pre class="language-css">
                      <code>
                        CSS
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

            </div>
          </details>
          <h2 class="heading-medium">Secondary navigation</h2>
          <p class="text">
            Use this when:
            <ul class="list list-bullet">
              <li>you need a secondary navigation within an admin area</li>
            </ul>
          </p>
          <img src="/public/images/secondary_navigation.png" alt="" width="800" height="531" style="margin-left:-32px"; />

          <h2 class="heading-small">Code snippets</h2>
          <p class="text">
           See below for the code snippets for this version.
          </p>
          <p>
            <details>
              <summary><span class="summary">View code snippets</span></summary>
              <div class="panel panel-border-narrow">
                <div class="tab-panel">
                  <div class="tab-panel-menu">
                    <a href="#" class="tab-link">HTML</a>
                    <a href="#" class="tab-link">CSS</a>
                  </div>

                  <div class="tab-panes">
                    <div class="tab-pane">
                      <pre class="language-markup">
                        <code>
                            &lt;footer id="footer"&gt;
                              &lt;div class="footer-wrapper"&gt;
                                &lt;div class="footer-meta"&gt;
                                  &lt;div class="footer-meta-inner"&gt;
                                    &lt;ul class="platform-help-links"&gt;
                                      &lt;li&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href="#"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href="#"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
                                      &lt;li&gt;&lt;a href="#"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
                                    &lt;/ul&gt;

                                    &lt;p class="built-by-dwp"&gt;Built by DWP Digital&lt;/p&gt;

                                    &lt;div class="open-government-licence"&gt;
                                      &lt;p class="logo"&gt;&lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence&lt;/a&gt;&lt;/p&gt;
                                        &lt;p&gt;All content is available under the &lt;a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license"&gt;Open Government Licence v3.0&lt;/a&gt;, except where otherwise stated&lt;/p&gt;
                                    &lt;/div&gt;
                                  &lt;/div&gt;

                                  &lt;div class="copyright"&gt;
                                    &lt;a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank"&gt;© Crown Copyright&lt;/a&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/footer&gt;
                        </code>
                      </pre>
                    </div>

                    <div class="tab-pane">
                      <pre class="language-css">
                        <code>
                          CSS
                        </code>
                      </pre>
                    </div>
                  </div>
                </div>

              </div>
            </details>

        </p>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
