{% extends "layout_dwp.html" %}

{% block page_title %}
  Admin menus - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Admin menus</h1>
        <h2 class="heading-medium">Standard pattern</h2>

        <p class="text">
          Use this when:
        </p>

        <ul class="list list-bullet">
          <li>
            the user needs access to several admin areas (the menu is left-aligned
            and displays the title of each admin area)
          </li>

          <li>
            the user needs access to generic action links, like ‘Log out’
            (these are displayed in the grey bar below the top black bar, with
            new links added to the right)
          </li>
        </ul>
      </div>
    </div>

    <div class="example">
      <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
          <div class="header-global">
            <div class="header-logo">
              <a href="/" id="logo" class="content dwplogo">
                DWP
              </a>
            </div>
          </div>

          <div class="header-proposition">
            <div class="content">
              <nav id="proposition-menu">
                <a href="/" id="proposition-name">Design patterns</a>
              </nav>
            </div>
          </div>
        </div>

        <div class="admin-header-wrapper">
          <div class="admin-header-content">
            <ul>
              <li><a href="#">Action link 1</a></li>
              <li><a href="#">Action link 2</a></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="admin-wrapper">
        <div class="admin-column-wrapper">
          <div class="admin-content-wrapper">
            <div class="admin-content">
              <h1 class="heading-xlarge">Area 1</h1>
            </div>
          </div>

          <div class="admin-sidebar-wrapper">
            <div class="admin-sidebar-content">
              <ul>
                <li><a href="adminmenus">Area 1</a></li>
                <li><a href="#">Area 2</a></li>
                <li><a href="#">Area 3</a></li>
                <li><a href="#">Area 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <details role="group">
      <summary><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow">
        <div class="tab-panel">
          <div class="tab-panel-menu">
            <a href="#" class="tab-link">HTML</a>
            <a href="#" class="tab-link">CSS</a>
            <a href="#" class="tab-link">JS</a>
          </div>

          <div class="tab-panes">
            <div class="tab-pane">
              <pre class="language-markup">
                <code>
    &lt;header role="banner" id="global-header" class="with-proposition"&gt;
      &lt;div class="header-wrapper"&gt;
        &lt;div class="header-global"&gt;
          &lt;div class="header-logo"&gt;
            &lt;a href="/" id="logo" class="content dwplogo"&gt;
              DWP
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="header-proposition"&gt;
          &lt;div class="content"&gt;
            &lt;nav id="proposition-menu"&gt;
              &lt;a href="/" id="proposition-name"&gt;Design patterns&lt;/a&gt;
            &lt;/nav&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="admin-header-wrapper"&gt;
        &lt;div class="admin-header-content"&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href="#"&gt;Action link 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Action link 2&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/header&gt;

    &lt;div class="admin-wrapper"&gt;
      &lt;div class="admin-column-wrapper"&gt;
        &lt;div class="admin-content-wrapper"&gt;
          &lt;div class="admin-content"&gt;
            &lt;h1 class="heading-xlarge"&gt;Area 1&lt;/h1&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="admin-sidebar-wrapper"&gt;
          &lt;div class="admin-sidebar-content"&gt;
            &lt;ul&gt;
              &lt;li&gt;&lt;a href="adminmenus"&gt;Area 1&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 2&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 3&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 4&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .admin-wrapper a {
      text-decoration: none;
      color: #000;
    }

    .admin-header-wrapper {
      background-color: #DEE0E2;
      height: 40px;
      text-align: right;
      font-size: 16px;
      width: 100%;
    }

    .admin-header-content {
      margin: auto;
      width: 100%;
      max-width: 1020px;
    }

    .admin-header-content li {
      display: inline-block;
      margin-top: 6px;
      padding: 4px 10px;
      border-right: 1px solid #999;
    }

    .admin-header-content li:last-child {
      border-right: none;
    }

    .admin-wrapper {
      position:relative;
      clear:both;
      float:left;
      width:100%;
      overflow:hidden;
      background-color: #F8F8F8;
    }

    .admin-wrapper .admin-column-wrapper {
      float:left;
      width:200%;
      position:relative;
      left: 20%;
      background:#fff;
      border-left: 2px solid #999;
    }

    .admin-wrapper .admin-content-wrapper {
      float:right;
      width:50%;
      position:relative;
      padding-bottom:1em;

    }

    .admin-wrapper .admin-content {
      margin-left: 50px;
      position:relative;
      right:100%;
      overflow:hidden;
    }
    .admin-wrapper .admin-sidebar-wrapper {
      float:left;
      width: 10%;
      position:relative;
      right: 10%;
    }

    .admin-sidebar-content {
      padding: 10px 0;
    }

    .admin-sidebar-content li {
      margin: 10px 0;
    }

    .admin-sidebar-content li a {
      display: block;
      padding: 10px 0 10px 30px;
    }

    .admin-sidebar-content li.active a {
      background-color: #30A197;
      color: #fff;
    }

    .admin-sidebar-content {
      padding: 20px 0;
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-javascript">
                <code>
    $(document).ready(function () {
      // Get the URL
      var url = window.location.href.split('/').pop();

      if (url === '') {
        url = '/';
      }

      // Check the href of each link in the sidebar
      $('.admin-sidebar-content a').each(function () {
        if (url === $(this).attr('href')) {
          // If the href matches the current URL set it as active
          $(this).parents('li').addClass('active');
        }
      });
                </code>
              </pre>
            </div>
          </div>
        </div>

      </div>
    </details>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Secondary navigation</h2>

        <p class="text">
          Use this when:
        </p>

        <ul class="list list-bullet">
          <li>you need to structure content within an admin area</li>
        </ul>
      </div>
    </div>

    <div class="example">
      <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
          <div class="header-global">
            <div class="header-logo">
              <a href="/" id="logo" class="content dwplogo">
                DWP
              </a>
            </div>
          </div>

          <div class="header-proposition">
            <div class="content">
              <nav id="proposition-menu">
                <a href="/" id="proposition-name">Design patterns</a>
              </nav>
            </div>
          </div>
        </div>

        <div class="admin-header-wrapper">
          <div class="admin-header-content">
            <ul>
              <li><a href="#">Action link 1</a></li>
              <li><a href="#">Action link 2</a></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="admin-wrapper">
        <div class="admin-column-wrapper">
          <div class="admin-content-wrapper">
            <div class="admin-content">
              <div class="admin-submenu-container">
              <h1 class="heading-xlarge">Section heading</h1>

              <div class="admin-submenu">
                <ul>
                  <li><a href="#">Section 1</a></li>
                  <li><a href="#">Section 2</a></li>
                  <li><a href="#">Section 3</a></li>
                  <li><a href="#">Section 4</a></li>
                  <li><a href="#">Section 5</a></li>
                </ul>
              </div>

              <div class="admin-panes">
                <div class="admin-pane">
                  Section 1
                </div>

                <div class="admin-pane">
                  Section 2
                </div>

                <div class="admin-pane">
                  Section 3
                </div>

                <div class="admin-pane">
                  Section 4
                </div>

                <div class="admin-pane">
                  Section 5
                </div>
              </div>
            </div>
            </div>
          </div>

          <div class="admin-sidebar-wrapper">
            <div class="admin-sidebar-content">
              <ul>
                <li><a href="adminmenus">Area 1</a></li>
                <li><a href="#">Area 2</a></li>
                <li><a href="#">Area 3</a></li>
                <li><a href="#">Area 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <details role="group">
      <summary><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow">
        <div class="tab-panel">
          <div class="tab-panel-menu">
            <a href="#" class="tab-link">HTML</a>
            <a href="#" class="tab-link">CSS</a>
            <a href="#" class="tab-link">JS</a>
          </div>

          <div class="tab-panes">
            <div class="tab-pane">
              <pre class="language-markup">
                <code>
    &lt;header role="banner" id="global-header" class="with-proposition"&gt;
      &lt;div class="header-wrapper"&gt;
        &lt;div class="header-global"&gt;
          &lt;div class="header-logo"&gt;
            &lt;a href="/" id="logo" class="content dwplogo"&gt;
              DWP
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="header-proposition"&gt;
          &lt;div class="content"&gt;
            &lt;nav id="proposition-menu"&gt;
              &lt;a href="/" id="proposition-name"&gt;Design patterns&lt;/a&gt;
            &lt;/nav&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div class="admin-header-wrapper"&gt;
        &lt;div class="admin-header-content"&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href="#"&gt;Action link 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Action link 2&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/header&gt;

    &lt;div class="admin-wrapper"&gt;
      &lt;div class="admin-column-wrapper"&gt;
        &lt;div class="admin-content-wrapper"&gt;
          &lt;div class="admin-content"&gt;
            &lt;div class="admin-submenu-container"&gt;
            &lt;h1 class="heading-xlarge"&gt;Section heading&lt;/h1&gt;

            &lt;div class="admin-submenu"&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a href="#"&gt;Section 1&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Section 2&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Section 3&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Section 4&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Section 5&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;

            &lt;div class="admin-panes"&gt;
              &lt;div class="admin-pane"&gt;
                Section 1
              &lt;/div&gt;

              &lt;div class="admin-pane"&gt;
                Section 2
              &lt;/div&gt;

              &lt;div class="admin-pane"&gt;
                Section 3
              &lt;/div&gt;

              &lt;div class="admin-pane"&gt;
                Section 4
              &lt;/div&gt;

              &lt;div class="admin-pane"&gt;
                Section 5
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="admin-sidebar-wrapper"&gt;
          &lt;div class="admin-sidebar-content"&gt;
            &lt;ul&gt;
              &lt;li&gt;&lt;a href="adminmenus"&gt;Area 1&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 2&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 3&lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a href="#"&gt;Area 4&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-css">
                <code>
    .admin-wrapper a {
      text-decoration: none;
      color: #000;
    }

    .admin-header-wrapper {
      background-color: #DEE0E2;
      height: 40px;
      text-align: right;
      font-size: 16px;
      width: 100%;
    }

    .admin-header-content {
      margin: auto;
      width: 100%;
      max-width: 1020px;
    }

    .admin-header-content li {
      display: inline-block;
      margin-top: 6px;
      padding: 4px 10px;
      border-right: 1px solid #999;
    }

    .admin-header-content li:last-child {
      border-right: none;
    }

    .admin-wrapper {
      position:relative;
      clear:both;
      float:left;
      width:100%;
      overflow:hidden;
      background-color: #F8F8F8;
    }

    .admin-wrapper .admin-column-wrapper {
      float:left;
      width:200%;
      position:relative;
      left: 20%;
      background:#fff;
      border-left: 2px solid #999;
    }

    .admin-wrapper .admin-content-wrapper {
      float:right;
      width:50%;
      position:relative;
      padding-bottom:1em;

    }

    .admin-wrapper .admin-content {
      margin-left: 50px;
      position:relative;
      right:100%;
      overflow:hidden;
    }
    .admin-wrapper .admin-sidebar-wrapper {
      float:left;
      width: 10%;
      position:relative;
      right: 10%;
    }

    .admin-sidebar-content {
      padding: 10px 0;
    }

    .admin-sidebar-content li {
      margin: 10px 0;
    }

    .admin-sidebar-content li a {
      display: block;
      padding: 10px 0 10px 30px;
    }

    .admin-sidebar-content li.active a {
      background-color: #30A197;
      color: #fff;
    }

    .admin-sidebar-content {
      padding: 20px 0;
    }

    .admin-submenu-container h1 {
      margin-bottom :10px;
    }

    .admin-submenu ul {
      border-bottom: 1px solid #999;
      margin-bottom: 50px;
    }

    .admin-submenu li {
      display: inline-block;
      padding: 20px 10px;
    }

    .admin-submenu li:first-child {
      padding-left: 0;
    }

    .admin-submenu li.active {
      -webkit-box-shadow: inset 0px -3px 0px 0px #30a197;
      -moz-box-shadow: inset 0px -3px 0px 0px #30a197;
      box-shadow: inset 0px -3px 0px 0px #30a197;
    }

    .admin-submenu a {
      font-size: 16px;
    }
                </code>
              </pre>
            </div>

            <div class="tab-pane">
              <pre class="language-javascript">
                <code>
    $(document).ready(function () {
      // Get the URL
      var url = window.location.href.split('/').pop();

      if (url === '') {
        url = '/';
      }

      // Check the href of each link in the sidebar
      $('.admin-sidebar-content a').each(function () {
        if (url === $(this).attr('href')) {
          // If the href matches the current URL set it as active
          $(this).parents('li').addClass('active');
        }
      });
    });

    // Tab Panes
    $('.admin-panes').each(function() {
      $(this).children('div').hide();
      $(this).children('.admin-pane:first').show();
      $(this).parent().find('li:first').addClass('active');
      $(this).parents('.admin-submenu-container').find('h1').text($('.active').find('a').text());
    });

    $(document).on('click', '.admin-submenu a', function(e) {
      e.preventDefault();

      var nth = $(this).parent().index() + 1;
      var target = $(this).parents('.admin-submenu-container').find('.admin-pane:nth-child(' + nth + ')');

      $(this).parents('.admin-submenu-container').find('.active').removeClass('active');
      $(this).parent().addClass('active');

      $(this).parents('.admin-submenu-container').find('.admin-panes').children().hide();
      $(this).parents('.admin-submenu-container').find('h1').text($(this).text());
      target.show();
    });
                </code>
              </pre>
            </div>
          </div>
        </div>

      </div>
    </details>
  </main>
{% endblock %}

{% block page_scripts %}
  <script>
  $(document).ready(function () {
    // Get the URL
    var url = window.location.href.split('/').pop();

    if (url === '') {
      url = '/';
    }

    // Check the href of each link in the sidebar
    $('.admin-sidebar-content a').each(function () {
      if (url === $(this).attr('href')) {
        // If the href matches the current URL set it as active
        $(this).parents('li').addClass('active');
      }
    });
  });

  // Tab Panes
  $('.admin-panes').each(function() {
    $(this).children('div').hide();
    $(this).children('.admin-pane:first').show();
    $(this).parent().find('li:first').addClass('active');
    $(this).parents('.admin-submenu-container').find('h1').text($('.active').find('a').text());
  });

  $(document).on('click', '.admin-submenu a', function(e) {
    e.preventDefault();

    var nth = $(this).parent().index() + 1;
    var target = $(this).parents('.admin-submenu-container').find('.admin-pane:nth-child(' + nth + ')');

    $(this).parents('.admin-submenu-container').find('.active').removeClass('active');
    $(this).parent().addClass('active');

    $(this).parents('.admin-submenu-container').find('.admin-panes').children().hide();
    $(this).parents('.admin-submenu-container').find('h1').text($(this).text());
    target.show();
  });

  </script>
{% endblock %}