{% extends "layouts/layout_dwp_pattern.html" %}

{% set page = {
  title: 'Consent to contact',
  description: 'Pattern for getting users consent to contact third parties'
} %}

{##############################################################################
START PATTERN BLOCK
##############################################################################}
{%- block pattern_block_1 -%}

{% set pattern = {
  title: 'Standard',
  criteria: [
    "the service needs to contact third parties",
    "the user must name those third parties",
    "the user must give their consent to the department",
    "the user has to be aware they can withdraw their consent"
  ]
} %}

{# ---------------------------------------------------------------------------
  description of the pattern
------------------------------------------------------------------------------
  note:
  you can use markdown if you set markdown: true
  in the pattern obj. remember markdown is whitespace sensitive so remove
  tab or space indents if the output is different from expected
--------------------------------------------------------------------------- #}
{%- set pattern_description -%}
{%- endset -%}

{# ---------------------------------------------------------------------------
  content notes, you can use markdown if you set markdown: true
  in the pattern object
--------------------------------------------------------------------------- #}
{%- set pattern_notes_content -%}
This pattern was agreed with Nicky Hope and Kyle Calvert as part of Employment Support Allowance and Industrial Injuries Disablement Benefit.

There must be content on the start page of the service explaining that the user will be asked for consent and has the right to withdraw it at any time following their application.

The user should be played back the people they've consented to contact and make a positive action that they agree those people can be contacted.

The pattern must **not** be used if legislation dictates that the service is unusable without necessary contact with a third party. 

Allowing the user to give consent to contact confers the ability to withdraw consent. If this would render the service useless then you shouldn't use this pattern. Consent is assumed.
{% endset %}

{# ---------------------------------------------------------------------------
  research notes, you can use markdown if you set markdown: true
  in the pattern object
--------------------------------------------------------------------------- #}
{%- set pattern_notes_research -%}
{% endset %}

{# ---------------------------------------------------------------------------
  the pattern demo block, use HTML to build a demo pattern or include screen
  shots.
--------------------------------------------------------------------------- #}
{%- set pattern_demo -%}

{%- endset -%}

{# ---------------------------------------------------------------------------
  css snippet block
--------------------------------------------------------------------------- #}
{%- set pattern_css -%}

{%- endset -%}

{# ---------------------------------------------------------------------------
  javascript snippet block, whatever you write in here will run in the
  page on window.load and be output as a snippet.
--------------------------------------------------------------------------- #}
{%- set pattern_javascript -%}

{%- endset -%}

{# this is where the above blocks and data is passed to the render pattern macro, ignore this unless your confortable with nunjucks and macros #}
{%- call docs.render_pattern({ metadata: pattern, demo: pattern_demo, demo_script: pattern_javascript, description: pattern_description, notes: { content: pattern_notes_content, research: pattern_notes_research }, snippets: [{ label: 'HTML', block : pattern_demo, hide: pattern.hideSnippetHTML | d(false) },{ label: 'CSS', block: pattern_css, languageClass: 'language-css', hide: pattern.hideSnippetCSS | d(false) },{ label: 'Javascript', block: pattern_javascript, languageClass: 'language-js', hide: pattern.hideSnippetJavascript | d(false) }] }) %}{% endcall %}

{%- endblock -%}
{#############################################################################
END PATTERN BLOCK
##############################################################################}
