{% extends "layouts/layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>
        <h1 class="heading-xlarge">Dashboards</h1>

        <h2 class="heading-medium">Example of a customisable dashboard</h2>
        <p>A dashboard is made up from a series of movable, customisable tiles that
        display various kinds of information. When selected a new page is opened that displays more details regarding tile's content.
        </p>
        <img src="/public/images/dashboard_tiles_1440_example.png" alt="" width="1024" height="1005" style="margin-left:-32px"; />

        <h2 class="heading-medium">Standard tile layout (1024px)</h2>
        <img src="/public/images/dashboard_tiles_1024.png" alt="" width="800" height="769"; />

        <h2 class="heading-medium">Wider tile layout (1440px)</h2>
        <img src="/public/images/dashboard_tiles_1440.png" alt="" width="1024" height="700" style="margin-left:-32px"; />

        <h2 class="heading-medium">Mobile layout</h2>
        <img src="/public/images/dashboard_tiles_mobile.png" alt="" width="253" height="450"; />

        <h2 class="heading-medium">Tile examples</h2>

        <h3 class="heading-small">Bar chart</h3>
        <img src="/public/images/tile_barchart.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Line chart</h3>
        <img src="/public/images/tile_linechart.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Pie chart</h3>
        <img src="/public/images/tile_piechart.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Stacked bars</h3>
        <img src="/public/images/tile_stackedbars.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Task lists</h3>
        <img src="/public/images/tile_tasklists.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Day planner</h3>
        <img src="/public/images/tile_dayplanner.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h3 class="heading-small">Updates</h3>
        <img src="/public/images/tile_updates.png" alt="" width="375" height="415" style="margin-left:-40px"; />

        <h2 class="heading-medium">Example of a display dashboard</h2>
        <p>This style of dashboard is useful if you want to display data about your service
          on a large screen, for example a display that is located with the product team, and
          allows viewers to easily digest data.
        </p>
        <h2 class="heading-medium">Display dashboard - example page 1</h2>
        <img src="/public/images/display_dashboard_page1.png" alt="" width="800" height="450"; />

        <h2 class="heading-medium">Display dashboard - example page 2</h2>
        <img src="/public/images/display_dashboard_page2.png" alt="" width="800" height="450"; />

        <h2 class="heading-medium">Display dashboard - example page 3</h2>
        <img src="/public/images/display_dashboard_page3.png" alt="" width="800" height="450"; />
    </div>
  </div>



  </main>
{% endblock %}
