{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Dashboards</h1>


        <h2 class="heading-medium">Standard tile layout (1024px)</h2>

        <img src="/public/images/dashboard_tiles_1024.png" alt="" width="800" height="769" style="margin-left:-32px"; />

        <h2 class="heading-medium">Wider tile layout (1440px)</h2>

        <img src="/public/images/dashboard_tiles_1440.png" alt="" width="1024" height="700" style="margin-left:-32px"; />

        <h2 class="heading-medium">Mobile layout</h2>

        <img src="/public/images/dashboard_tiles_mobile.png" alt="" width="253" height="450"; />
        <h3 class="heading-small">Tile example - bar chart</h3>

        <img src="/public/images/tile_barchart.png" alt="" width="375" height="445" style="margin-left:-32px"; />

    </div>
  </div>



  </main>
{% endblock %}
