{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Declarations</h1>
        <p class="lede">
       The user needs to understand that the information they provide must be true, and what the consequences of providing false information are. Also gives them the chance to change their answers.
        </p>
        <hr />
      </div><!-- end column-two-thirds -->
    </div><!-- end grid row -->
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Version 1 - Consent and declaration, requires user to answer a question</h2>
        <div class="example">
        <h1 class="heading-xlarge">Consent and declaration</h1>
        <form>
          <fieldset class="inline">
            <legend>Do you agree to the Carer's Allowance unit contacting anyone mentioned in this form?</legend>
            <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes</label>
            <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No</label>
          </fieldset>
        </form>
        <p class="text">By sending the application you agree that:</p>
        <ul class="list-bullet">
          <li>the information is correct and complete as far as you know</li>
          <li>you'll pay back any money you've overpaid if you're asked to</li>
          <li>you'll report changes of circumstances or those of the person you care for promptly either <a href="" rel="external">online</a> or by contacting the <a href="" rel="external">Carer's Allowance Unit</a>.</li>
        </ul>
        <div class="legal_message">You could be prosecuted or have to pay a financial penalty if you deliberately give the wrong or incomplete information or don't report changes. Your Carer's allowance may also be stopped or reduced.
        </div>
        <p><a href="" class="button">I agree - send my application</a></p>
      </div><!-- end example -->
    </div><!-- end column-two-thirds --> 
  </div><!-- end grid-row -->
  <div class="grid-row">
    <details role="group" open="">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">HTML</a>
              <a href="#" class="tab-link">CSS</a>
            </div>
            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
               <pre class="language-markup">
                <code>
    &lt;h1 class="heading-xlarge"&gt;Consent and declaration&lt;/h1&gt;
      &lt;form&gt;
        &lt;fieldset class="inline"&gt;
           &lt;legend&gt;Do you agree to the Carer's Allowance unit contacting anyone mentioned in this form?&lt;/legend&gt;
              &lt;label class="block-label" for="radio-inline-1"&gt;
              &lt;input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes"&gt;Yes&lt;/label&gt;
              &lt;label class="block-label" for="radio-inline-2"&gt;
               &lt;input id="radio-inline-2" type="radio" name="radio-inline-group" value="No"&gt;No&lt;/label&gt;
        &lt;/fieldset&gt;
      &lt;/form&gt;
        &lt;p class="text"&gt;By sending the application you agree that:&lt;/p&gt;
          &lt;ul class="list-bullet"&gt;
            &lt;li&gt;the information is correct and complete as far as you know&lt;/li&gt;
              &lt;li&gt;you'll pay back any money you've overpaid if you're asked to&lt;/li&gt;
              &lt;li&gt;you'll report changes of circumstances or those of the person you care for promptly 
              either &lt;a href="" rel="external"&gt;online&lt;/a&gt; or by contacting 
              the &lt;a href="" rel="external"&gt;Carer's Allowance Unit&lt;/a&gt;.&lt;/li&gt;
           &lt;/ul&gt;
        &lt;div class="legal_message"&gt;You could be prosecuted or have to pay a financial 
        penalty if you deliberately give the wrong or incomplete information or don't report 
        changes. Your Carer's allowance may also be stopped or reduced.
        &lt;/div&gt;
        &lt;p&gt;&lt;a href="" class="button"&gt;I agree - send my application&lt;/a&gt;&lt;/p&gt
                </code>
              </pre>
            </div>
            <div class="tab-pane" style="display: none;">
              <pre class="language-markup">
                <code>
      .legal_message {
          margin: 30px 0 30px; 
          padding-left: 60px; 
          background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-
          c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png); 
          background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-
          aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em; 
          background-size: 34px 34px
      }
                 </code>
              </pre>
            </div>
          </div>
          </div>
        </div>
      </details>
    </div><!-- end grid-row -->
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-medium">Version 2 - Declaration, requires user to click button to agree</h2>
        <div class="example">
        <h1 class="heading-xlarge">Declaration</h1>
        <p class="text">By sending the application you agree that:</p>
        <ul class="list-bullet">
          <li>the information is correct and complete as far as you know</li>
          <li>you'll pay back any money you've overpaid if you're asked to</li>
        </ul>
        <div class="legal_message">You could be prosecuted or have to pay a financial penalty if you deliberately give the wrong or incomplete information or don't report changes. 
        </div>
        <p><a href="" class="button">I agree - send my application</a></p>
      </div><!-- end example -->
    </div><!-- end column-two-thirds --> 
  </div><!-- end grid-row -->
  <div class="grid-row">
    <details role="group" open="">
      <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">HTML</a>
              <a href="#" class="tab-link">CSS</a>
            </div>
            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
               <pre class="language-markup">
                <code>
    &lt;h1 class="heading-xlarge"&gt;Declaration&lt;/h1&gt;
        &lt;p class="text"&gt;By sending the application you agree that:&lt;/p&gt;
        &lt;ul class="list-bullet"&gt;
          &lt;li&gt;the information is correct and complete as far as you know&lt;/li&gt;
          &lt;li&gt;you'll pay back any money you've overpaid if you're asked to&lt;/li&gt;
        &lt;/ul&gt;
        &lt;div class="legal_message"&gt;You could be prosecuted or have to pay a financial penalty if you 
        deliberately give the wrong or incomplete information or don't report changes. 
        &lt;/div&gt;
        &lt;p&gt;&lt;a href="" class="button"&gt;I agree - send my application&lt;/a&gt;&lt;/p&gt;
                </code>
              </pre>
            </div>
            <div class="tab-pane" style="display: none;">
              <pre class="language-markup">
                <code>
      .legal_message {
          margin: 30px 0 30px; 
          padding-left: 60px; 
          background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-
          c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png); 
          background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-
          aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em; 
          background-size: 34px 34px
        }
                 </code>
              </pre>
            </div>
          </div>
          </div>
        </div>
      </details>
    </div><!-- end grid-row -->
  </main>
{% endblock %}
