{% extends "layout_dwp.html" %}

{% block page_title %}
  Declaration - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Declaration</h1>


        <h2 class="heading-medium">Standard pattern</h2>
        <p class="text">
          Use this when:
          <ul class="list list-bullet">
            <li>the user needs to confirm the information they&rsquo;ve given is correct
              and that they understand the consequences of giving false information</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="example">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">Declaration</h1>

          <p class="text">By sending the application you agree that:</p>

          <ul class="list-bullet">
            <li>the information is correct and complete as far as you know</li>
            <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
          </ul>

          <div class="legal_message">
            You could be prosecuted or have to pay a financial penalty if you
            deliberately give the wrong or incomplete information or don&rsquo;t
            report changes.
          </div>

          <p><a href="#" class="button">I agree - send my application</a></p>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <details>
        <summary role="button"><span class="summary">View code snippet</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">HTML</a>
              <a href="#" class="tab-link">CSS</a>
            </div>

            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
                <pre class="language-markup">
                  <code>

{{ htmlToPrism('<h1 class="heading-xlarge">Declaration</h1>

  <p class="text">By sending the application you agree that:</p>

  <ul class="list-bullet">
    <li>the information is correct and complete as far as you know</li>
    <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
  </ul>

  <div class="legal_message">
    You could be prosecuted or have to pay a financial penalty if you
    deliberately give the wrong or incomplete information or don&rsquo;t
    report changes.
  </div>

  <p><a href="#" class="button">I agree - send my application</a></p>')  }}

                  </code>
                </pre>
              </div>

              <div class="tab-pane" style="display: none;">
                <pre class="language-css">
                  <code>
  .legal_message {
    margin: 30px 0 30px;
    padding-left: 60px;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
    background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
    background-size: 34px 34px
  }
                   </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </details>
    </div>

    <h2 class="heading-medium">Alternative pattern</h2>
    <p class="text">
      Use this when:
      <ul class="list list-bullet">
        <li>the user needs to make another interaction (eg to give their consent
          for the DWP to contact people they&rsquo;ve listed) </li>
      </ul>
    </p>

    <div class="example">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">Consent and declaration</h1>

          <form>
            <fieldset class="inline">
              <legend>
                Do you agree to the Carer&rsquo;s Allowance unit contacting anyone
                mentioned in this form?
              </legend>

              <label class="block-label" for="radio-inline-1">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                Yes
              </label>

              <label class="block-label" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                No
              </label>
            </fieldset>

            <p class="text">By sending the application you agree that:</p>

            <ul class="list-bullet">
              <li>the information is correct and complete as far as you know</li>
              <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
              <li>
                you&rsquo;ll report changes of circumstances or those of the person you
                care for promptly either <a href="" rel="external">online</a> or
                by contacting the <a href="" rel="external">Carer&rsquo;s Allowance Unit</a>.
              </li>
            </ul>

            <div class="legal_message">
              You could be prosecuted or have to pay a financial penalty if you
              deliberately give the wrong or incomplete information or don&rsquo;t
              report changes. Your Carer&rsquo;s allowance may also be stopped or reduced.
            </div>

            <input type="button" value="I agree - send my application" class="button">
          </form>
        </div>
      </div>
    </div>

    <details>
      <summary><span class="summary">View code snippet</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0">
        <div class="tab-panel">
          <div class="tab-panel-menu">
            <a href="#" class="tab-link tab-link-active">HTML</a>
            <a href="#" class="tab-link">CSS</a>
          </div>

          <div class="tab-panes">
            <div class="tab-pane" style="display: block;">
              <pre class="language-markup">
                <code>

{{ htmlToPrism('<h1 class="heading-xlarge">Consent and declaration</h1>

<form>
  <fieldset class="inline">
    <legend>
      Do you agree to the Carer&rsquo;s Allowance unit contacting anyone
      mentioned in this form?
    </legend>

    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      Yes
    </label>

    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      No
    </label>
  </fieldset>

  <p class="text">By sending the application you agree that:</p>

  <ul class="list-bullet">
    <li>the information is correct and complete as far as you know</li>
    <li>you&rsquo;ll pay back any money you&rsquo;re overpaid if you&rsquo;re asked to</li>
    <li>
      you&rsquo;ll report changes of circumstances or those of the person you
      care for promptly either <a href="" rel="external">online</a> or
      by contacting the <a href="" rel="external">Carer&rsquo;s Allowance Unit</a>.
    </li>
  </ul>

  <div class="legal_message">
    You could be prosecuted or have to pay a financial penalty if you
    deliberately give the wrong or incomplete information or don&rsquo;t
    report changes. Your Carer&rsquo;s allowance may also be stopped or reduced.
  </div>

  <input type="button" value="I agree - send my application" class="button">
</form>')  }}


                </code>
              </pre>
            </div>

            <div class="tab-pane" style="display: none;">
              <pre class="language-css">
                <code>
      .legal_message {
          margin: 30px 0 30px;
          padding-left: 60px;
          background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-2x-c948a58b675598f444f7f8fffd9ebf3d740905da332308c65b0dcb4af880d7ba.png);
          background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-aab708504574eda2dc4a4de0802be03dbbd70d57b422de93e55e265c9ae2fc43.png) no-repeat scroll 0 0.5em;
          background-size: 34px 34px
      }
                 </code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </details>
    <div class="column-two-thirds">
    <h2 class="heading-medium">Content notes</h2>
    <ul class="list list-bullet">
      <li>Refer to the user in the second person apart from in the action text.</li>
      <li>Use bullets introduced by the text &lsquo;By sending this [application] you agree:&rsquo; and list any conditions of applying.</li>
      <li>If reporting changes is required this should give an example of what and explain how.</li>
      <li>Use links for explanatory content - the declaration only has to give the user <em>opportunity</em> to read terms, not contain them itself.</li>
      <li>The number of conditions may vary - only list the conditions that apply to your service (5 standard messages are given in the examples).</li>
      <li>Any other content should be placed above the legal declaration.</li>
      <li>The risks and consequences should include the warning call out style (an exclamation mark).</li>
      <li>Avoid the word &lsquo;prosecute&rsquo; unless you get specific legal advice otherwise.</li>
      <li>Don&rsquo;t use a check box - the action button represents positive action and acceptance.</li>
      <li>The text of the action button should be in the first person &lsquo;I agree&rsquo;.</li>
    </ul>
          </div>
  </main>
{% endblock %}
