{% extends "layout_dwp.html" %}

{% block page_title %}
  Error pages - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Error pages</h1>

        <h2 class="heading-medium">Service unavailable - 503 message</h2>
        
      </div>
    </div>

    <div class="example">
      <h1 class="heading-xlarge">Something&rsquo;s gone wrong</h1>
      <p class="text">
      You can&rsquo;t use this service just now. The problem will be fixed as soon as
      possible
      </p>
      <p class="text">
      Please try again later.
      </p>
    </div>

    <h2 class="heading-medium">Page not found - 404 message</h2>
  </div>
</div>

<div class="example">
  <h1 class="heading-xlarge">Something&rsquo;s gone wrong</h1>
  <p class="text">
This page can&rsquo;t be found. Check the link you&rsquo;re using and try again.
  </p>
  <p class="text">
  Go to <a href="">(relevant link)</a> to try again.</p>
</div>


  </main>
{% endblock %}
