{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">DWP design patterns</h1>

        <p class="lede">
          These patterns are intended for use in designing DWP services and
          should be used in the event that the GOV.UK pattern library does not
          contain a viable solution to your design problem.
        </p>

        <hr />

        <h2 class="heading-medium">Visual style</h2>

        <p class="text">
          For a visual style guide, including front-end code snippets, see the
          GOV.UK elements guide. In addition there is now a DWP elements guide
          that details how to style services that are for DWP staff and for
          services not hosted on GOV.UK.
        </p>

        <h2 class="heading-large">Form elements</h2>
        <ul class="list list-bullet">
          <li><a href="#">Add new item(s) to a list</a></li>
          <li><a href="#">Check your answers</a></li>
          <li><a href="#">Entering bank details</a></li>
          <li><a href="#">Document upload</a></li>
          <li><a href="#">Save and exit</a></li>
          <li><a href="declaration">Declarations</a></li>
        </ul>

        <h2 class="heading-large">Staff interfaces</h2>
        <ul class="list list-bullet">
          <li><a href="/adminmenus">Admin menus</a></li>
          <li><a href="#">Search and filter</a></li>
          <li><a href="#">Task lists and completion indicators</a></li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
