{% extends "layout_dwp.html" %}

{% block page_title %}
  DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">DWP design patterns</h1>

        <p class="lede">
        These patterns for DWP services are based on the research and experience
        of the DWP design community. You should use them to build on the
        <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/index.html">
        GOV.UK design patterns</a>.
        </p>
        <p class="lede">
        These are the recommended standards for DWP service design. You should use
        them even when live services (like Carer&rsquo;s Allowance) don&rsquo;t yet follow them.
        </p>
        <hr />
        <h2 class="heading-medium">More guidance</h2>
        <h2 class="heading-small">Visual style</h2>
        <p class="text">There are 2 elements guides which give details of visual style.</p>
        <p class="text">
        If you&rsquo;re working on a citizen-facing service that&rsquo;s hosted on GOV.UK,
        use the <a href="http://govuk-elements.herokuapp.com/">GOV.UK elements guide</a>.
        </p>
        <p class="text">
          If you&rsquo;re working on a service that isn&rsquo;t hosted on GOV.UK or a service
          for DWP staff, use the <a href="http://dwp-elements.herokuapp.com/">DWP elements guide</a>.
        </p>
        <h2 class="heading-small">Content style</h2>
        <p class="text">
          Use the <a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a> as a reference for content style, spelling
          and grammar conventions for any service you&rsquo;re working on.
        </p>
        <hr />
        <h2 class="heading-large">Patterns for all DWP services</h2>
        <ul class="list list-bullet">
          <li><a href="/additemstoalist">Add item(s) to a list</a></li>
          <li>Check your answers</li>
          <li><a href="/declaration">Declaration</a></li>
          <li>Document upload</li>
          <li><a href="/bankdetails">Enter bank details</a></li>
          <li><a href="/errorpages">Error pages</a></li>
          <li><a href="/paymentsfromabroad">Payments from abroad</a></li>
          <li>Save and exit</li>
        </ul>

        <h2 class="heading-large">Patterns for staff services</h2>
        <ul class="list list-bullet">
          <li><a href="/adminmenus">Admin menus</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/showhidefilters">Show / hide filters</a></li>
          <li>Task lists and completion indicators</li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
