{% extends "layout_dwp.html" %}

{% block page_title %}
  Drafts - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">Draft patterns</h1>
          <ul class="list-bullet">
            <li><a href="dashboards">Dashboards</a></li>
            <li><a href="alerts">Alerts and notifications</a></li>
            <li><a href="thirdparties">Filling in something on behalf of someone else</a></li>
            <li><a href="representatives">Naming a representative</a></li>
            <li><a href="todo">To do lists</a></li>
            <li><a href="beforeyoustart">Before you start</a></li>
      </div>
    </div>
  </main>
{% endblock %}
