{% extends "layouts/layout_dwp_pattern.html" %}

{% set page = { 
  title: 'Overall pattern title',
  description: 'Executive summary of this pattern document'
} %}

{############################################################################## 
START PATTERN BLOCK 
##############################################################################}
{%- block pattern_block_1 -%}
    
{% set pattern = {
  title: 'Standard',
  criteria: [
    "the user needs to give details of the bank account they want to receive payment"
  ]
} %}

{# --------------------------------------------------------------------------- 
  description of the pattern
------------------------------------------------------------------------------
  note: 
  you can use markdown if you set markdown: true
  in the pattern obj. remember markdown is whitespace sensitive so remove 
  tab or space indents if the output is different from expected
--------------------------------------------------------------------------- #}
{%- set pattern_description -%}
Here you would place a description of this particular pattern if needed.
{%- endset -%}

{# --------------------------------------------------------------------------- 
  content notes, you can use markdown if you set markdown: true
  in the pattern object
--------------------------------------------------------------------------- #}
{%- set pattern_notes_content -%}
Notes about the copy/content of this particular pattern. 

{% endset %}

{# --------------------------------------------------------------------------- 
  research notes, you can use markdown if you set markdown: true
  in the pattern object
--------------------------------------------------------------------------- #}
{%- set pattern_notes_research -%}
Notes about the research around this particular pattern
{% endset %}

{# --------------------------------------------------------------------------- 
  the pattern demo block, use HTML to build a demo pattern or include screen
  shots.
--------------------------------------------------------------------------- #}
{%- set pattern_demo -%}

  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Your bank details</h1>
    
    <form>
      <div class="form-group">
        <fieldset>
          <label class="form-label-bold label-no-hint" for="ba-account-holder">Account holder name</label>
          <input type="text" class="form-control" id="ba-account-holder" name="ba-account-holder" value="">
        </fieldset>
      </div>

      <legend class="form-label-bold">Sort code</legend>
      <div class="form-date form-group">
        <fieldset>
          <div class="form-group form-group-day">
            <label for="ba-sort1"></label>
            <input class="form-control" id="ba-sort1" maxlength="2" name="ba-sort1" value="" type="text">
          </div>

          <div class="form-group form-group-month">
            <label for="ba-sort2"></label>
            <input class="form-control" id="ba-sort2" maxlength="2" name="ba-sort2" value="" type="text">
          </div>

          <div class="form-group form-group-month">
            <label for="ba-sort3"></label>
            <input class="form-control" id="ba-sort3" maxlength="2" name="ba-sort3" value="" type="text">
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset>
          <label class="form-label-bold" for="ba-account-number">
            Account number
          </label>
          <input type="text" class="form-control" id="ba-account-number" name="ba-account-number" value="" maxlength="10">
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset>
          <label class="form-label-bold" for="bs-society-roll">
            Building society roll or reference number (optional)
            <span class="form-hint">If your building society uses a roll or reference number, you will find it on your passbook</span>
          </label>
          <input type="text" class="form-control" id="bs-society-roll" name="bs-society-roll" value="" data-required="true">
        </fieldset>
      </div>
    </form>
  </div>

{%- endset -%}

{# --------------------------------------------------------------------------- 
  css snippet block
--------------------------------------------------------------------------- #}
{%- set pattern_css -%}
  {% include 'sass/patterns/_banking.scss' %}
{%- endset -%}

{# --------------------------------------------------------------------------- 
  javascript snippet block, whatever you write in here will run in the
  page on window.load and be output as a snippet.
--------------------------------------------------------------------------- #}
{%- set pattern_javascript -%}
  console.log("pattern demo javascript!") // view console!
{%- endset -%}

{# this is where the above blocks and data is passed to the render pattern macro, ignore this unless your confortable with nunjucks and macros #}
{%- call docs.render_pattern({ metadata: pattern, demo: pattern_demo, demo_script: pattern_javascript, description: pattern_description, notes: { content: pattern_notes_content, research: pattern_notes_research }, snippets: [{ label: 'HTML', block : pattern_demo, hide: pattern.hideSnippetHTML | d(false) },{ label: 'CSS', block: pattern_css, languageClass: 'language-css', hide: pattern.hideSnippetCSS | d(false) },{ label: 'Javascript', block: pattern_javascript, languageClass: 'language-js', hide: pattern.hideSnippetJavascript | d(false) }] }) %}{% endcall %}

{%- endblock -%}
{############################################################################# 
END PATTERN BLOCK 
##############################################################################}