{% extends "layout_dwp.html" %}

{% block page_title %}
  Naming a representative - DWP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
      <div class="column-two-thirds">
              <a class="link-back" href="/">Back</a>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">
            Draft
        </span>
     Naming a representative</h1>

    <h2 class="heading-medium">Standard pattern</h2>
    <p class="text">
      Use this when:
      <ul class="list list-bullet">
        <li>the user needs someone to represent them</li>
      </ul>
    </p>
    
    </div>
  </div>

    <div class="grid-row">
      <div class="example">
        <h1 class="heading-xlarge">Who do you want to be contacted about your condition, award or application?</h1>

        <div class="column-two-thirds">
          

          <form>
          
            <div class="form-group">
              <fieldset>
                <legend class="hidden">Who do you want to be contacted about your condition, award or application?</legend>
                <label class="block-label" for="yourself">
                  <input id="yourself" type="radio" name="contact" value="Yourself">
                  Yourself
                </label>

                <label class="block-label" for="someone-else">
                  <input id="someone-else" type="radio" name="contact" value="Someone else">
                 Someone else, who can speak for you
                </label>
              </fieldset>
            </div>

             <div class="js-hidden panel panel-border-narrow" id="you-contact">
              <div class="form-group">
                <fieldset>
                  <legend>
                   How do you want to be contacted?
                  </legend>
                  <p>Select as many as you like.</p>
                  <label for="email" class="block-label">
                    <input id="email" type="checkbox" name="contact-method-you" value="email">
                    Email
                  </label>
                  <label for="phone-call" class="block-label">
                    <input id="phone-call" type="checkbox" name="contact-method-you" value="phone call">
                    Phone call
                  </label>
                  <label for="text" class="block-label">
                    <input id="text" type="checkbox" name="contact-method-you" value="text message">
                    Text message
                  </label>
                   <label for="letter" class="block-label">
                    <input id="letter" type="checkbox" name="contact-method-you" value="letter">
                    Letter
                  </label>
                 </fieldset>
              </div>
            </div>
            <div class="js-hidden panel panel-border-narrow" id="representative">
              <div class="form-group">
                <fieldset>
                  <label for="representative-name" class="form-label">
                   <span class="form-label-bold">Your representative</span>
                   This should be someone you trust and who can talk about your condition.
                  </label>
                  <input type="text" class="form-control" id="representative-name" name="representative-name">
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset>
                  <legend>
                   How can they be contacted?
                  </legend>
                  <p>Select as many as you like.</p>
                  <label for="email" class="block-label">
                    <input id="email" type="checkbox" name="contact-method" value="email">
                    Email
                  </label>
                  <label for="phone-call" class="block-label">
                    <input id="phone-call" type="checkbox" name="contact-method" value="phone call">
                    Phone call
                  </label>
                  <label for="text" class="block-label">
                    <input id="text" type="checkbox" name="contact-method" value="text message">
                    Text message
                  </label>
                   <label for="letter" class="block-label">
                    <input id="letter" type="checkbox" name="contact-method" value="letter">
                    Letter
                  </label>
                 </fieldset>
              </div>

              <div class="form-group">
                <fieldset>
                  <label for="relationship">
                  What's your relationship with this person?
                  </label>
                  <input type="text" class="form-control" id="relationship" name="relationship">
                </fieldset>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <details>
        <summary role="button"><span class="summary">View code snippet</span></summary>

        <div class="panel panel-border-narrow">
          <div class="tab-panel">
            <div class="tab-panel-menu">
              <a href="#" class="tab-link tab-link-active">HTML</a>
              <a href="#" class="tab-link">JS</a>
            </div>

            <div class="tab-panes">
              <div class="tab-pane" style="display: block;">
                <pre class="language-markup">
                  <code>
  {{ htmlToPrism('<h1 class="heading-xlarge">Who do you want to be contacted about your condition, award or application?</h1>

        <div class="column-two-thirds">
          

          <form>
          
            <div class="form-group">
              <fieldset>
                <legend class="hidden">Who do you want to be contacted about your condition, award or application?</legend>
                <!-- No data-targets to avoid duplication, see jQuery at bottom of this page -->
                <label class="block-label" for="yourself">
                  <input id="yourself" type="radio" name="contact" value="Yourself">
                  Yourself
                </label>

                <label class="block-label" for="someone-else">
                  <input id="someone-else" type="radio" name="contact" value="Someone else">
                 Someone else, who can speak for you
                </label>
              </fieldset>
            </div>

             <div class="js-hidden panel panel-border-narrow" id="you-contact">
              <div class="form-group">
                <fieldset>
                  <legend>
                   How do you want to be contacted?
                  </legend>
                  <p>Select as many as you like.</p>
                  <label for="email" class="block-label">
                    <input id="email" type="checkbox" name="contact-method-you" value="email">
                    Email
                  </label>
                  <label for="phone-call" class="block-label">
                    <input id="phone-call" type="checkbox" name="contact-method-you" value="phone call">
                    Phone call
                  </label>
                  <label for="text" class="block-label">
                    <input id="text" type="checkbox" name="contact-method-you" value="text message">
                    Text message
                  </label>
                   <label for="letter" class="block-label">
                    <input id="letter" type="checkbox" name="contact-method-you" value="letter">
                    Letter
                  </label>
                 </fieldset>
              </div>
            </div>
            <div class="js-hidden panel panel-border-narrow" id="representative">
              <div class="form-group">
                <fieldset>
                  <label for="representative-name" class="form-label">
                   <span class="form-label-bold">Your representative</span>
                   This should be someone you trust and who can talk about your condition.
                  </label>
                  <input type="text" class="form-control" id="representative-name" name="representative-name">
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset>
                  <legend>
                   How can they be contacted?
                  </legend>
                  <p>Select as many as you like.</p>
                  <label for="email" class="block-label">
                    <input id="email" type="checkbox" name="contact-method" value="email">
                    Email
                  </label>
                  <label for="phone-call" class="block-label">
                    <input id="phone-call" type="checkbox" name="contact-method" value="phone call">
                    Phone call
                  </label>
                  <label for="text" class="block-label">
                    <input id="text" type="checkbox" name="contact-method" value="text message">
                    Text message
                  </label>
                   <label for="letter" class="block-label">
                    <input id="letter" type="checkbox" name="contact-method" value="letter">
                    Letter
                  </label>
                 </fieldset>
              </div>

              <div class="form-group">
                <fieldset>
                  <label for="relationship">
                  What&rsquo;s your relationship with this person?
                  </label>
                  <input type="text" class="form-control" id="relationship" name="relationship">
                </fieldset>
              </div>')  }}
                  </code>
                </pre>
              </div>

              <div class="tab-pane" style="display: none;">
                <pre class="language-javascript">
                  <code>
    $(document).on('click', 'input[type="radio"]', function (e) {
      if ($(e.target).attr('id') === 'yourself' || $(e.target).attr('id') === 'someone-else') {
        $('#you-contact').show();
        if ($(this).attr('id') === 'someone-else') {
          $('#representative').show();
          $('#you-contact').hide();
        } else {
          $('#representative').hide();
        }
      }
    });

                  </code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </details>
    </div>
        <div class="column-two-thirds">
    <h2 class="heading-medium">Content notes</h2>
    <ul class="list list-bullet">
      <li>Be specific about the things that the representative will be asked about, you don't have to use the things listed in the example.</li>

    </ul>
  </div>
  
  </main>
{% endblock %}

{% block page_scripts %}
  <script>


    $(document).on('click', 'input[type="radio"]', function (e) {
      if ($(e.target).attr('id') === 'carer-yes' || $(e.target).attr('id') === 'carer-no') {
        if ($(this).attr('id') === 'carer-no') {
          $('#third-party-details').show();
        } else {
          $('#third-party-details').hide();
        }
      }
    });


    $(document).on('click', 'input[type="radio"]', function (e) {
      if ($(e.target).attr('id') === 'yourself' || $(e.target).attr('id') === 'someone-else') {
        $('#you-contact').show();
        if ($(this).attr('id') === 'someone-else') {
          $('#representative').show();
          $('#you-contact').hide();
        } else {
          $('#representative').hide();
        }
      }
    });


  </script>
{% endblock %}
