{% extends "layout_dwp.html" %}

{% block page_title %}
  Show and hide filters - DWP design patterns
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">
        <a class="link-back" href="/">Back</a>

        <h1 class="heading-xlarge">
          <span class="heading-secondary">
            Draft
          </span>
          Show and hide filters
        </h1>
              <hr/>
            <h2 class="heading-small">Filters when open</h2>
            <p>
            </p>
          <img src="/public/images/search_filters.png" alt="" width="800" height="531" style="margin-left:-32px"; />
          <p>
          </p>
          <p>
            The filter styles here are shown to indicate that there are a number
            of ways you could filter the content.
          </p>
          <p>
          </p>
          <hr/>
          <h2 class="heading-small">Hide filters</h2>
          <p>
            Selecting the &lsquo;Hide filters&rsquo; toggle closes the filter section and moves
            the content to the left.
          </p>
          <img src="/public/images/search_results.png" alt="" width="800" height="449" style="margin-left:-32px"; />

        <p>
        </p>


      </div>
    </div>
  </main>
{% endblock %}
