{% extends "layout_dwp.html" %}

{% block page_title %}
  Listing to-dos - DWP design patterns
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">
        Back
      </a>

      <h1 class="heading-xlarge">
        <span class="heading-secondary">
            Draft
        </span>
        Listing to-dos
      </h1>

     <h2 class="heading-medium">
       Standard pattern
     </h2>
     <p>
       Use this when:
       <ul class="list list-bullet">
         <li>
           a list of things need to be done
         </li>
         <li>
           each thing is assigned to a single user
         </li>
         <li>
           each thing links to thing that needs to be done
         </li>
         <li>
           completed things are stored and viewed elsewhere
         </li>
       </ul>
     </p>

     <h2 class="heading-small">
       Research notes
     </h2>

    <div class="example">
      {% include "includes/todo-standard.html" %}
    </div>

    <h2 class="heading-medium">
      Alternative pattern
    </h2>

    <p>
      Use this when:
      <ul class="list list-bullet">
        <li>
          a list of things need to be done in a single view by multiple users
        </li>
        <li>
          each thing is assigned to one or multiple users
        </li>
        <li>
          each thing needs to have supporting content
        </li>
        <li>
          each thing needs to be completed by a specific date
        </li>
        <li>
          completed things are stored and viewed elsewhere
        </li>
      </ul>
    </p>

    <div class="example">
      <ul class="todo detailed">
        <li class="overdue">
          <a href="">
            Book your interview <span>Overdue 6 days</span>
          </a>
          <p>
            John Smith | Added 13 June 2016
          </p>
          <span class="assigned">WC</span>
          <span>CM</span>
          <span>DM</span>
        </li>
        <li class="overdue">
          <a href="">
            Provide proof of childcare costs <span>Overdue 1 day</span>
          </a>
          <p>
            John Smith | Added 13 June 2016
          </p>
          <span>WC</span>
          <span class="assigned">CM</span>
          <span>DM</span>
        </li>
        <li class="overdue">
          <a href="">
            Book your Habitual Residency Test <span>Due today</span>
          </a>
          <p>
            John Smith | Added 13 June 2016
          </p>
          <span>WC</span>
          <span>CM</span>
          <span class="assigned">DM</span>
        </li>
        <li>
          <a href="">
            Childcare - declare changes <span>Due 24 June 2016</span>
          </a>
          <p>
            John Smith | Added 13 June 2016
          </p>
          <span class="assigned">WC</span>
          <span class="assigned">CM</span>
          <span>DM</span>
        </li>
      </ul>
    </div>

    </div>
  </div>

</main>

{% endblock %}
